Package: broadcom-sta-dkms
Source: broadcom-sta
Version: 6.30.223.271-17
Architecture: all
Maintainer: Eduard Bloch <blade@debian.org>
Installed-Size: 14141
Depends: dkms (>= 2.1.0.0)
Recommends: wireless-tools
Conflicts: broadcom-sta-modules
Provides: broadcom-sta-modules
Section: non-free/kernel
Priority: optional
Homepage: http://www.broadcom.com/support/802.11/linux_sta.php
Description: dkms source for the Broadcom STA Wireless driver
 Broadcom STA is a binary-only device driver to support the following IEEE
 802.11a/b/g/n wireless network cards: BCM4311-, BCM4312-, BCM4313-,
 BCM4321-, BCM4322-, BCM43142-, BCM43224-, BCM43225-, BCM43227-, BCM43228-,
 BCM4331-, BCM4360-, and BCM4352-based hardware.
 .
 This package provides the source code for the wl kernel modules and makes use
 of the DKMS build utility to install them for the running kernel. The
 alternative package broadcom-sta-source can be used instead in case of build
 problems.
 .
 The wireless-tools package is also required in order to make use of these
 modules. Kernel source or headers are required to compile these modules.
